<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DASHBOARD SCREEN 2</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/datepicker3.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
<![endif]-->
</head>
<body>

	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

		<div>
			<div class="mt-5">
				<p class="innerpage-site-title">YVE</p>
			</div>
			<ul class="nav menu">
				<li class="active"><a href="index.html">MUSIC</a></li>
				<li><a href="#">ANALYTICS</a></li>
				<li><a href="#">ROYALTIES</a></li>
				<li><a href="#">PROMOTION</a></li>
			</ul>
		</div>

		<div class="line-divider">
			
		</div>

		<div class="side-bar-bottom-text">
			<h3>We are here to help</h3>
			<p>Ask a question or file a 
				suppoort ticket, manage 
				request, report on issues. 
				Our support team will get 
			back to you in no time</p>
		</div>

		<div class="btn-area">
			<a href="#" class="btn btn-circle btn-primary">Get Support Now</a>
		</div>

		<div>
			<div class="terms">

				<ul>
					<li><a href="#">Terms</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Help</a></li>
				</ul>



				<div class="developer-mention mt-4">
					<small>Created by Manifest Multimedia</small>
				</div>
			</div>
		</div>
	</div>
	<!--/.sidebar-->
	<div class="mobile-menu">
		<i class="fa fa-bars mobilebars" aria-hidden="true"></i>
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main menu-sidearea custom-main-box">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default bo-radius">
					<div class="panel-heading">
						<div class="heading-bar">
							<div class="greetings">
								<h1 class="greet">Good morning, Fameye</h1>
								<!-- <small>Ready to get your music out there?</small> -->
							</div>
							<div>
								<div class="btn-div">
									<a href="#" class="btn btn-default btn-circle create-new"><span class='user-plus'>+ <span class="hide-m">Create New</span></span></a>
									<a href="#" class="btn btn-default btn-rounded"><span><img src="../images/hi1.png"></span></a>
									<a href="#" class="btn btn-default btn-rounded"><span><img src="../images/hi2.png"></span></a>
									<a href="#" class="btn btn-default btn-rounded"><span><img src="../images/hi3.png"></span></a>
									<a href="#" class="btn btn-default btn-rounded-img">
										<img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
									</a>
								</div>
							</div>
						</div>
						
						<div class="round-tabs screen_2">
							<ul class="nav nav-pills">
								<li><a href=""><small>1HR</small></a></li>
								<li><a href=""><small>1D</small></a></li>
								<li class="active"><a href=""><small>1W</small></a></li>
								<li><a href=""><small>1M</small></a></li>
								<li><a href=""><small>1Y</small></a></li>
							</ul>										
						</div>

						<span class="pull-right clickable panel-toggle panel-button-tab-left hideme"><em class="fa fa-toggle-up"></em></span></div>
						<div class="panel-body custom-body screen_2">
							<div class="panel panel-default">
								<div class="panel-body tabs">
									<ul class="nav nav-pills custom-pills">
										<li class="active"><a href="#pilltab1" data-toggle="tab" aria-expanded="true">ALL(5,000,000)</a></li>
										<li class=""><a href="#pilltab2" data-toggle="tab" aria-expanded="false">SPOTIFY(1,000,000)</a></li>
										<li class=""><a href="#pilltab3" data-toggle="tab" aria-expanded="true">APPLE(1,000,000)</a></li>
										<li class=""><a href="#pilltab4" data-toggle="tab" aria-expanded="true">TIDAL(1,000,000)</a></li>
										<li class=""><a href="#pilltab5" data-toggle="tab" aria-expanded="true">YOUTUBE(1,000,000)</a></li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane fade active in" id="pilltab1">

											<div class="row">
												<div class="col-md-10 col-md-offset-1">
													<div class="row">
														<div class="col-md-4">
															<div class="shadow-box strm">
																<div class="stream-boxes">
																	<div class="stream-icon">
																		<img src="../images/Group13.png" alt="">
																	</div>
																	<div class="stream-txt">
																		<h3>129 503, 512</h3>
																		<small>TOTAL STREAMS</small>
																	</div>
																</div>
															</div>
														</div>

														<div class="col-md-4">
															<div class="shadow-box strm">
																<div class="stream-boxes">
																	<div class="stream-icon">
																		<img src="../images/Group14.png" alt="">
																	</div>
																	<div class="stream-txt">
																		<h3>129 503, 512</h3>
																		<small>SINCE LAST WEEK</small>
																	</div>
																</div>
															</div>
															
														</div>

														<div class="col-md-4">
															<div class="shadow-box strm">
																<div class="stream-boxes">
																	<div class="stream-icon">
																		<img src="../images/Group15.png" alt="">
																	</div>
																	<div class="stream-txt">
																		<h3>12% <span class="green-drop"><i class="glyphicon glyphicon-triangle-top "></i></span></h3>
																		<small>SINCE LAST WEEK</small>
																	</div>
																</div>
															</div>
														</div>
													</div>
													
												</div>
											</div>
											<div class="row mt-5">
												<div class="col-md-12 chart-box">
													<div>

														<div class="panel panel-default">
															<div class="panel-heading_">
																<span class="hideme pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
																<div class="panel-body">
																	<div class="canvas-wrapper">
																		<canvas class="main-chart" id="line-chart_2" height="132" width="397" style="width: 397px; height: 132px;"></canvas>
																	</div>
																</div>
															</div>


														</div>
													</div>
												</div>
												<br>
												<div class="row">
													<div class="col-md-6">
														<div class="shadow-box-wp">
															<div class="list-heading-area">
																<div>
																	<h3>Top Downloaded Songs</h3>
																</div>
																<div>
																	<ul class="nav nav-pills">
																		<li><a href=""><small>1HR</small></a></li>
																		<li><a href=""><small>1D</small></a></li>
																		<li class="active"><a href=""><small>1W</small></a></li>
																		<li><a href=""><small>1M</small></a></li>
																		<li><a href=""><small>1Y</small></a></li>
																	</ul>
																</div>
															</div>
															<div class="list-content">
																<ul>
																	<li class="list-content-items">
																	  <div class="pad-3">
																			<div class="list-area-container">
																				<div class="content-img-txt">
																					<img src="../images/mg2.png" alt="" class="img-responsive">
																				</div>
																				<div class="text-box">
																					<p>Destiny</p>
																					<small>By Fameye</small>
																				</div>
																			</div>

																			<div class="list-content-dowload">

																				<div class="downloads-icon">
																					<img src="../images/dd.png" alt="" class="img-responsive">
																				</div>
																				<div>
																					<p>40,000 downloads</p>
																				</div>
																			</div>
																	  </div>
																	</li>
																	<li class="list-content-items">
																	  <div class="pad-3">
																			<div class="list-area-container">
																				<div class="content-img-txt">
																					<img src="../images/mg1.png" alt="" class="img-responsive">
																				</div>
																				<div class="text-box">
																					<p>Destiny</p>
																					<small>By Fameye</small>
																				</div>
																			</div>

																			<div class="list-content-dowload">

																				<div class="downloads-icon">
																					<img src="../images/dd.png" alt="" class="img-responsive">
																				</div>
																				<div>
																					<p>40,000 downloads</p>
																				</div>
																			</div>
																	  </div>
																	</li>
																	<li class="list-content-items">
																	  <div class="pad-3">
																			<div class="list-area-container">
																				<div class="content-img-txt">
																					<img src="../images/mg2.png" alt="" class="img-responsive">
																				</div>
																				<div class="text-box">
																					<p>Destiny</p>
																					<small>By Fameye</small>
																				</div>
																			</div>

																			<div class="list-content-dowload">

																				<div class="downloads-icon">
																					<img src="../images/dd.png" alt="" class="img-responsive">
																				</div>
																				<div>
																					<p>40,000 downloads</p>
																				</div>
																			</div>
																	  </div>
																	</li>

																	<li class="list-content-items">
																	  <div class="pad-3">
																			<div class="list-area-container">
																				<div class="content-img-txt">
																					<img src="../images/mg1.png" alt="" class="img-responsive">
																				</div>
																				<div class="text-box">
																					<p>Destiny</p>
																					<small>By Fameye</small>
																				</div>
																			</div>

																			<div class="list-content-dowload">

																				<div class="downloads-icon">
																					<img src="../images/dd.png" alt="" class="img-responsive">
																				</div>
																				<div>
																					<p>40,000 downloads</p>
																				</div>
																			</div>
																	  </div>
																	</li>
																</ul>
															</div>
														</div>

													</div>
													<div class="col-md-6">
														<div class="shadow-box-wp">
															<div class="list-heading-area">
																<div>
																	<h3>Top Downloaded Songs</h3>
																</div>
																<div>
																	<ul class="nav nav-pills">
																		<li><a href=""><small>1HR</small></a></li>
																		<li><a href=""><small>1D</small></a></li>
																		<li class="active"><a href=""><small>1W</small></a></li>
																		<li><a href=""><small>1M</small></a></li>
																		<li><a href=""><small>1Y</small></a></li>
																	</ul>
																</div>
															</div>
															<div class="list-content">
																<ul>
																	<li class="list-content-items">
																	  <div class="pad-3">
																			<div class="list-area-container">
																				<div class="content-img-txt">
																					<img src="../images/mg2.png" alt="" class="img-responsive">
																				</div>
																				<div class="text-box">
																					<p>Destiny</p>
																					<small>By Fameye</small>
																				</div>
																			</div>

																			<div class="list-content-dowload">

																				<div class="downloads-icon">
																					<img src="../images/ww.png" alt="" class="img-responsive">
																				</div>
																				<div>
																					<p>33,000 streams</p>
																				</div>
																			</div>
																	  </div>
																	</li>
																	<li class="list-content-items">
																	  <div class="pad-3">
																			<div class="list-area-container">
																				<div class="content-img-txt">
																					<img src="../images/mg1.png" alt="" class="img-responsive">
																				</div>
																				<div class="text-box">
																					<p>Destiny</p>
																					<small>By Fameye</small>
																				</div>
																			</div>

																			<div class="list-content-dowload">

																				<div class="downloads-icon">
																					<img src="../images/ww.png" alt="" class="img-responsive">
																				</div>
																				<div>
																					<p>33,000 streams</p>
																				</div>
																			</div>
																	  </div>
																	</li>
																	<li class="list-content-items">
																	  <div class="pad-3">
																			<div class="list-area-container">
																				<div class="content-img-txt">
																					<img src="../images/mg2.png" alt="" class="img-responsive">
																				</div>
																				<div class="text-box">
																					<p>Destiny</p>
																					<small>By Fameye</small>
																				</div>
																			</div>

																			<div class="list-content-dowload">

																				<div class="downloads-icon">
																					<img src="../images/ww.png" alt="" class="img-responsive">
																				</div>
																				<div>
																					<p>33,000 streams</p>
																				</div>
																			</div>
																	  </div>
																	</li>

																	<li class="list-content-items">
																	  <div class="pad-3">
																			<div class="list-area-container">
																				<div class="content-img-txt">
																					<img src="../images/mg1.png" alt="" class="img-responsive">
																				</div>
																				<div class="text-box">
																					<p>Destiny</p>
																					<small>By Fameye</small>
																				</div>
																			</div>

																			<div class="list-content-dowload">

																				<div class="downloads-icon">
																					<img src="../images/ww.png" alt="" class="img-responsive">
																				</div>
																				<div>
																					<p>33,000 streams</p>
																				</div>
																			</div>
																	  </div>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="tab-pane fade" id="pilltab2">
												<h4>SPOTIFY(1,000,000)</h4>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget rutrum purus. Donec hendrerit ante ac metus sagittis elementum. Mauris feugiat nisl sit amet neque luctus, a tincidunt odio auctor.</p>
											</div>
											<div class="tab-pane fade  in" id="pilltab3">
												<h4>APPLE(1,000,000)</h4>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget rutrum purus. Donec hendrerit ante ac metus sagittis elementum. Mauris feugiat nisl sit amet neque luctus, a tincidunt odio auctor.</p>
											</div>
											<div class="tab-pane fade  in" id="pilltab4">
												<h4>TIDAL(1,000,000)</h4>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget rutrum purus. Donec hendrerit ante ac metus sagittis elementum. Mauris feugiat nisl sit amet neque luctus, a tincidunt odio auctor.</p>
											</div>
											<div class="tab-pane fade" id="pilltab5">
												<h4>YOUTUBE(1,000,000)</h4>
												<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget rutrum purus. Donec hendrerit ante ac metus sagittis elementum. Mauris feugiat nisl sit amet neque luctus, a tincidunt odio auctor.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!--/.row-->
			</div><!--/.row-->


		</div>	<!--/.main-->

		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/chart.min.js"></script>
		<script src="js/chart-data.js"></script>
		<script src="js/easypiechart.js"></script>
		<script src="js/easypiechart-data.js"></script>
		<script src="js/bootstrap-datepicker.js"></script>
		<script src="js/custom.js"></script>
		<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
		<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

		<script>
			window.onload = function () {
				var chart2 = document.getElementById("line-chart_2").getContext("2d");
				window.myLine = new Chart(chart2).Line(lineChart_2Data, {
					responsive: true,
					scaleLineColor: "rgba(0,0,0,.2)",
					scaleGridLineColor: "rgba(0,0,0,.05)",
					scaleFontColor: "#c5c7cc"
				});
			};

			var dashboardgreenswiper = new Swiper('.dashboard-green-slider .swiper-container', {
				direction: 'vertical',
				pagination: {
					el: '.swiper-pagination',
					clickable: true,
				},
			});
		</script>

	</body>
	</html>