<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DASHBOARD SCREEN 4</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/datepicker3.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
<![endif]-->
</head>
<body>

	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

		<div>
			<div class="mt-5">
				<p class="innerpage-site-title">YVE</p>
			</div>
			<ul class="nav menu">
				<li class="active"><a href="index.html">MUSIC</a></li>
				<li><a href="#">ANALYTICS</a></li>
				<li><a href="#">ROYALTIES</a></li>
				<li><a href="#">PROMOTION</a></li>
			</ul>
		</div>

		<div class="line-divider">
			
		</div>

		<div class="side-bar-bottom-text">
			<h3>We are here to help</h3>
			<p>Ask a question or file a 
				suppoort ticket, manage 
				request, report on issues. 
				Our support team will get 
			back to you in no time</p>
		</div>

		<div class="btn-area">
			<a href="#" class="btn btn-circle btn-primary">Get Support Now</a>
		</div>

		<div>
			<div class="terms">

				<ul>
					<li><a href="#">Terms</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Help</a></li>
				</ul>



				<div class="developer-mention mt-4">
					<small>Created by Manifest Multimedia</small>
				</div>
			</div>
		</div>

	</div>
	<!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main menu-sidearea custom-main-box">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default bo-radius">
					<div class="panel-heading">
						<div class="heading-bar">
							<div class="greetings">
								<h1 class="greet">Good morning, Fameye</h1>
								<small>Ready to get your music out there?</small>
							</div>
							<div>
								<div class="btn-div">
									<a href="#" class="btn btn-default btn-circle create-new"><span></span> + Create New</a>
									<a href="#" class="btn btn-default btn-rounded"><span><img src="../images/hi1.png"></span></a>
									<a href="#" class="btn btn-default btn-rounded"><span><img src="../images/hi2.png"></span></a>
									<a href="#" class="btn btn-default btn-rounded"><span><img src="../images/hi3.png"></span></a>
									<a href="#" class="btn btn-default btn-rounded-img">
										<img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
									</a>
								</div>
							</div>
						</div>
						
						<div class="round-tabs">
							<ul class="nav nav-pills">
								<li><a href=""><small>1HR</small></a></li>
								<li><a href=""><small>1D</small></a></li>
								<li class="active"><a href=""><small>1W</small></a></li>
								<li><a href=""><small>1M</small></a></li>
								<li><a href=""><small>1Y</small></a></li>
							</ul>										
						</div>

						<span class="pull-right clickable panel-toggle panel-button-tab-left hideme"><em class="fa fa-toggle-up"></em></span></div>
						<div class="panel-body custom-body">
							<div class="panel panel-default">
								<div class="panel-body tabs">
									<ul class="nav nav-pills custom-pills">
										<li class="active"><a href="#pilltab1" data-toggle="tab" aria-expanded="true">CAMPAINGS</a></li>
										<li class=""><a href="#pilltab2" data-toggle="tab" aria-expanded="false">MEDIA</a></li>
										<li class=""><a href="#pilltab3" data-toggle="tab" aria-expanded="true">STATISTICS</a></li>
										<li class=""><a href="#pilltab4" data-toggle="tab" aria-expanded="true">PAYMENTS</a></li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane fade active in" id="pilltab1">
											<div class="row mt-5">
												<div class="col-md-12">
													<div class="row">
														<div class="col-md-12">
															<div class="shadow-box-wp">
																<div class="list-heading-area-no-border">
																	

																	<div class="table-box-sc4">
																		<div id="transtable_wrapper" class="dataTables_wrapper no-footer"><div class="dataTables_length" id="transtable_length"><label>Show <select name="transtable_length" aria-controls="transtable" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div><div id="transtable_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="transtable"></label></div><table id="transtable" class="table dataTable no-footer" style="width: 100%;" role="grid" aria-describedby="transtable_info">
																			<thead>
																				<tr role="row"><th class="sorting sorting_asc" tabindex="0" aria-controls="transtable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 314px;"></th><th class="sorting" tabindex="0" aria-controls="transtable" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 290px;">FACEBOOK</th><th class="sorting" tabindex="0" aria-controls="transtable" rowspan="1" colspan="1" aria-label="Withdraws: activate to sort column ascending" style="width: 193px;">INSTAGRAM</th>
																					<th class="sorting" tabindex="0" aria-controls="transtable" rowspan="1" colspan="1" aria-label="Withdraws: activate to sort column ascending" style="width: 193px;">TWITTER</th>
																					<th class="sorting" tabindex="0" aria-controls="transtable" rowspan="1" colspan="1" aria-label="Withdraws: activate to sort column ascending" style="width: 193px;">TIKTOK</th>
																					<th class="sorting" tabindex="0" aria-controls="transtable" rowspan="1" colspan="1" aria-label="Withdraws: activate to sort column ascending" style="width: 193px;">SNAPCHAT</th>
																					<th class="sorting" tabindex="0" aria-controls="transtable" rowspan="1" colspan="1" aria-label="Withdraws: activate to sort column ascending" style="width: 355px;">AMOUNT SPENT</th>
																				</tr>
																			</thead>
																			<tbody>







																				<tr class="odd">
																					<td class="sorting_1"><span><img src="../images/ms1.png"><span class="tbtitle"> Greather Thsn - Fameye</span></span></td>
																					<td><span class="tbdate"><img src="../images/r.png"></span></td>
																					<td><span class="tbprice"><img src="../images/r.png"></span></td>
																					<td><span class="tbprice"><img src="../images/w.png"></span></td>
																					<td><span class="tbprice"><img src="../images/r.png"></span></td>
																					<td><span class="tbprice"><img src="../images/r.png"></span></td>
																					<td><span class="tbprice_1">$2000</span></td>
																				</tr>

																				<tr class="even">
																					<td class="sorting_1"><span><img src="../images/ms2.png"><span class="tbtitle"> Dirty Witchs - Fameye</span></span></td>
																					<td><span class="tbdate"><img src="../images/r.png"></span></td>
																					<td><span class="tbprice"><img src="../images/r.png"></span></td>
																					<td><span class="tbprice"><img src="../images/r.png"></span></td>
																					<td><span class="tbprice"><img src="../images/w.png"></span></td>
																					<td><span class="tbprice"><img src="../images/r.png"></span></td>
																					<td><span class="tbprice_1">$2000</span></td>
																				</tr>

																				<tr class="odd">
																					<td class="sorting_1"><span><img src="../images/ms3.png"><span class="tbtitle">Gallaxy - Babylon ft. Fameye</span></span></td>
																					<td><span class="tbdate"><img src="../images/r.png"></span></td>
																					<td><span class="tbprice"><img src="../images/r.png"></span></td>
																					<td><span class="tbprice"><img src="../images/w.png"></span></td>
																					<td><span class="tbprice"><img src="../images/r.png"></span></td>
																					<td><span class="tbprice"><img src="../images/r.png"></span></td>
																					<td><span class="tbprice_1">$2000</span></td>
																				</tr>

																				<tr class="even">
																					<td class="sorting_1"><span><img src="../images/ms4.png"><span class="tbtitle">Chairman - Fameye Ft Joey B</span></span></td>
																					<td><span class="tbdate"><img src="../images/w.png"></span></td>
																					<td><span class="tbprice"><img src="../images/r.png"></span></td>
																					<td><span class="tbprice"><img src="../images/r.png"></span></td>
																					<td><span class="tbprice"><img src="../images/r.png"></span></td>
																					<td><span class="tbprice"><img src="../images/r.png"></span></td>
																					<td><span class="tbprice_1">$2000</span></td>
																				</tr>
																			</tbody>
																		</table><div class="dataTables_info" id="transtable_info" role="status" aria-live="polite">Showing 1 to 5 of 5 entries</div><div class="dataTables_paginate paging_simple_numbers" id="transtable_paginate"><a class="paginate_button previous disabled" aria-controls="transtable" data-dt-idx="0" tabindex="-1" id="transtable_previous">Previous</a><span><a class="paginate_button current" aria-controls="transtable" data-dt-idx="1" tabindex="0">1</a></span><a class="paginate_button next disabled" aria-controls="transtable" data-dt-idx="2" tabindex="-1" id="transtable_next">Next</a></div></div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											
											<br>

											<div class="row">
												
												<div class="col-md-6 col-md-offset-3 shadow-box blue-box">
													<div class="yellow-box-inner">
														<div class="yellow-box-product">
															<img src="../images/rckt.png" alt="" class="img-responsive">
														</div>
														<div class="btn-blue-box">
															<a href="#" class="btn btn-circle btn-blue-box">CREATE CAMPAING</a>
														</div>
													</div>
												</div>
											</div>
										</div>


										<div class="tab-pane fade" id="pilltab2">
											<h4>SPOTIFY(1,000,000)</h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget rutrum purus. Donec hendrerit ante ac metus sagittis elementum. Mauris feugiat nisl sit amet neque luctus, a tincidunt odio auctor.</p>
										</div>
										<div class="tab-pane fade  in" id="pilltab3">
											<h4>APPLE(1,000,000)</h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget rutrum purus. Donec hendrerit ante ac metus sagittis elementum. Mauris feugiat nisl sit amet neque luctus, a tincidunt odio auctor.</p>
										</div>
										<div class="tab-pane fade  in" id="pilltab4">
											<h4>TIDAL(1,000,000)</h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget rutrum purus. Donec hendrerit ante ac metus sagittis elementum. Mauris feugiat nisl sit amet neque luctus, a tincidunt odio auctor.</p>
										</div>
										<div class="tab-pane fade" id="pilltab5">
											<h4>YOUTUBE(1,000,000)</h4>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget rutrum purus. Donec hendrerit ante ac metus sagittis elementum. Mauris feugiat nisl sit amet neque luctus, a tincidunt odio auctor.</p>
										</div>
									</div>
								</div>

								<br>

								<div class="tabs-panel-sc4">

									<!-- Nav tabs -->
									<ul class="nav nav-tabs" role="tablist">
										<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">
											<p class="tab-title-sc4">440,000</p>
											<p class="tab-desc-sc4">Views In A Week</p>
										</a></li>
										<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
											<p class="tab-title-sc4">440,000</p>
											<p class="tab-desc-sc4">Views In A Week</p>

										</a></li>
										<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
											<p class="tab-title-sc4">440,000</p>
											<p class="tab-desc-sc4">Views In A Week</p>
										</a></li>
									</ul>

									<!-- Tab panes -->
									<div class="tab-content shadow-box-wp-dfshadow">
										<div role="tabpanel" class="tab-pane fade in active" id="home">
											
											<div class="col-md-12 custom-scroll">
												<div class="panel panel-default">

													<div class="panel-body">
														<div class="canvas-wrapper">
															<canvas class="chart" id="bar-chart" height="355" width="1066" style="width: 1066px; height: 355px;"></canvas>
														</div>
													</div>
												</div>

												<div class="panel panel-default">

													<div class="panel-body">
														<div class="canvas-wrapper">
															<canvas class="chart" id="bar-chart_1" height="355" width="1066" style="width: 1066px; height: 355px;"></canvas>
														</div>
													</div>
												</div>

											</div>

										</div>
										<div role="tabpanel" class="tab-pane fade" id="profile">
											<div class="col-md-12 custom-scroll">
												<div class="panel panel-default">

													<div class="panel-body">
														<div class="canvas-wrapper">
															<canvas class="chart" id="bar-chart_2" height="355" width="1066" style="width: 1066px; height: 355px;"></canvas>
														</div>
													</div>
												</div>

												<div class="panel panel-default">

													<div class="panel-body">
														<div class="canvas-wrapper">
															<canvas class="chart" id="bar-chart_3" height="355" width="1066" style="width: 1066px; height: 355px;"></canvas>
														</div>
													</div>
												</div>

											</div>
											
										</div>
										<div role="tabpanel" class="tab-pane fade" id="messages">
											
											<div class="col-md-12 custom-scroll">
												<div class="panel panel-default">

													<div class="panel-body">
														<div class="canvas-wrapper">
															<canvas class="chart" id="bar-chart_4" height="355" width="1066" style="width: 1066px; height: 355px;"></canvas>
														</div>
													</div>
												</div>

												<div class="panel panel-default">

													<div class="panel-body">
														<div class="canvas-wrapper">
															<canvas class="chart" id="bar-chart_5" height="355" width="1066" style="width: 1066px; height: 355px;"></canvas>
														</div>
													</div>
												</div>

											</div>


										</div>
									</div>


								</div>

								<br>

								<div class="row">
									<div class="col-md-12">



										<div class="shadow-box-wp">


											<div class="list-heading-area-no-border">

												<div class="tabs_custom">
													<ul class="nav nav-tabs" role="tablist">
														<li role="presentation" class="active"><a href="#home_1" aria-controls="home" role="tab" data-toggle="tab">Social Media</a></li>
														<li role="presentation"><a href="#profile_1" aria-controls="profile" role="tab" data-toggle="tab">Responses</a></li>
													</ul>


													<!-- Tab panes -->
													<div class="tab-content">
														<div role="tabpanel" class="tab-pane active" id="home_1">

															<div class="table-box-sc4">
																<div id="transtable_wrapper" class="dataTables_wrapper no-footer"><div class="dataTables_length" id="transtable_length"><label>Show <select name="transtable_length" aria-controls="transtable" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div><div id="transtable_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="transtable"></label></div><table id="transtable" class="table dataTable no-footer" style="width: 100%;" role="grid" aria-describedby="transtable_info">

																	<tbody class="down">







																		<tr class="odd">
																			<td class="sorting_1"><span><img src="../images/fb.png"></td>
																				<td><span class="tbdate">
																					<p>FACEBOOK</p>
																					<small>@fameye</small>

																				</span></td>	
																				<td><span class="tbdate">
																					<a href="#"><img src="../images/act.png"></a></span></td>
																					<td class="sorting_2"><span class="tbprice"><span class="green-drop">12% <i class="glyphicon glyphicon-triangle-top "></i></span></span></td>
																					<td><span class="tbdate"><p>3</p>
																						<small>Posts</small></span></td>
																						<td><span class="tbdate"><p>300k</p>
																							<small>Views</small></span></td>
																							<td>
																								<span class="tbdate"><p>40k</p>
																									<small>Actions</small></span>
																								</td>
																								<td>
																									<span class="tbdate"><p>90k</p>
																										<small>Fans</small></span>
																									</td>
																									<td>
																										<ul class="pull-right panel-settings panel-button-tab-right">
																											<li class="dropdown"><a class="icon-custom pull-right dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
																												<em class="fa fa-ellipsis-v"></em>
																											</a>
																											<ul class="dropdown-menu dropdown-menu-right">
																												<li>
																													<ul class="dropdown-settings">
																														<li><a href="#">
																															De-activate
																														</a></li>
																														<li class="divider"></li>
																														<li><a href="#"> Edit
																														</a></li>
																														
																													</ul>
																												</li>
																											</ul>
																										</li>
																									</ul>
																								</td>
																		</tr>

																		<tr class="even">
																			<td class="sorting_1"><span><img src="../images/insta.png"></td>
																				<td><span class="tbdate">
																					<p>INSTAGRAM</p>
																					<small>@fameye</small>

																				</span></td>	
																				<td><span class="tbdate">
																					<a href="#"><img src="../images/act.png"></a></span></td>
																					<td class="sorting_2"><span class="tbprice"><span class="green-drop">12% <i class="glyphicon glyphicon-triangle-top "></i></span></span></td>
																					<td><span class="tbdate"><p>3</p>
																						<small>Posts</small></span></td>
																						<td><span class="tbdate"><p>300k</p>
																							<small>Views</small></span></td>
																							<td>
																								<span class="tbdate"><p>40k</p>
																									<small>Actions</small></span>
																								</td>
																								<td>
																									<span class="tbdate"><p>90k</p>
																										<small>Fans</small></span>
																									</td>
																									<td>
																										<ul class="pull-right panel-settings panel-button-tab-right">
																											<li class="dropdown"><a class="icon-custom pull-right dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
																												<em class="fa fa-ellipsis-v"></em>
																											</a>
																											<ul class="dropdown-menu dropdown-menu-right">
																												<li>
																													<ul class="dropdown-settings">
																														<li><a href="#">
																															De-activate
																														</a></li>
																														<li class="divider"></li>
																														<li><a href="#"> Edit
																														</a></li>
																														
																													</ul>
																												</li>
																											</ul>
																										</li>
																									</ul>
																								</td>
																		</tr>

																		<tr class="odd">
																			<td class="sorting_1"><span><img src="../images/tw.png"></td>
																				<td><span class="tbdate">
																					<p>TWITTER</p>
																					<small>@fameye</small>

																				</span></td>	
																				<td><span class="tbdate">
																					<a href="#"><img src="../images/act.png"></a></span></td>
																					<td class="sorting_2"><span class="tbprice"><span class="green-drop">12% <i class="glyphicon glyphicon-triangle-top "></i></span></span></td>
																					<td><span class="tbdate"><p>3</p>
																						<small>Posts</small></span></td>
																						<td><span class="tbdate"><p>300k</p>
																							<small>Views</small></span></td>
																							<td>
																								<span class="tbdate"><p>40k</p>
																									<small>Actions</small></span>
																								</td>
																								<td>
																									<span class="tbdate"><p>90k</p>
																										<small>Fans</small></span>
																									</td>
																									<td>
																										<ul class="pull-right panel-settings panel-button-tab-right">
																											<li class="dropdown"><a class="icon-custom pull-right dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
																												<em class="fa fa-ellipsis-v"></em>
																											</a>
																											<ul class="dropdown-menu dropdown-menu-right">
																												<li>
																													<ul class="dropdown-settings">
																														<li><a href="#">
																															De-activate
																														</a></li>
																														<li class="divider"></li>
																														<li><a href="#"> Edit
																														</a></li>
																														
																													</ul>
																												</li>
																											</ul>
																										</li>
																									</ul>
																								</td>
																		</tr>

																		<tr class="even">
																			<td class="sorting_1"><span><img src="../images/sn.png"></td>
																				<td><span class="tbdate">
																					<p>SNAPCHAT</p>
																					<small>@fameye</small>

																				</span></td>	
																				<td><span class="tbdate">
																					<a href="#"><img src="../images/act.png"></a></span></td>
																					<td class="sorting_2"><span class="tbprice"><span class="green-drop">12% <i class="glyphicon glyphicon-triangle-top "></i></span></span></td>
																					<td><span class="tbdate"><p>3</p>
																						<small>Posts</small></span></td>
																						<td><span class="tbdate"><p>300k</p>
																							<small>Views</small></span></td>
																							<td>
																								<span class="tbdate"><p>40k</p>
																									<small>Actions</small></span>
																								</td>
																								<td>
																									<span class="tbdate"><p>90k</p>
																										<small>Fans</small></span>
																									</td>
																									<td>
																										<ul class="pull-right panel-settings panel-button-tab-right">
																											<li class="dropdown"><a class="icon-custom pull-right dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
																												<em class="fa fa-ellipsis-v"></em>
																											</a>
																											<ul class="dropdown-menu dropdown-menu-right">
																												<li>
																													<ul class="dropdown-settings">
																														<li><a href="#">
																															De-activate
																														</a></li>
																														<li class="divider"></li>
																														<li><a href="#"> Edit
																														</a></li>
																														
																													</ul>
																												</li>
																											</ul>
																										</li>
																									</ul>
																								</td>
																		</tr>




																							
																	</tbody>
																					</table><div class="dataTables_info" id="transtable_info" role="status" aria-live="polite">Showing 1 to 5 of 5 entries</div><div class="dataTables_paginate paging_simple_numbers" id="transtable_paginate"><a class="paginate_button previous disabled" aria-controls="transtable" data-dt-idx="0" tabindex="-1" id="transtable_previous">Previous</a><span><a class="paginate_button current" aria-controls="transtable" data-dt-idx="1" tabindex="0">1</a></span><a class="paginate_button next disabled" aria-controls="transtable" data-dt-idx="2" tabindex="-1" id="transtable_next">Next</a></div></div>
																				</div>

																			</div>
																			<div role="tabpanel" class="tab-pane" id="profile_1">
																				<div class="table-box-sc4">
																					<div id="transtable_wrapper" class="dataTables_wrapper no-footer"><div class="dataTables_length" id="transtable_length"><label>Show <select name="transtable_length" aria-controls="transtable" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div><div id="transtable_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="transtable"></label></div><table id="transtable" class="table dataTable no-footer" style="width: 100%;" role="grid" aria-describedby="transtable_info">
																						<thead>
																							<tr role="row"><th class="sorting sorting_asc" tabindex="0" aria-controls="transtable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 314px;"></th><th class="sorting" tabindex="0" aria-controls="transtable" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 290px;">FACEBOOK</th><th class="sorting" tabindex="0" aria-controls="transtable" rowspan="1" colspan="1" aria-label="Withdraws: activate to sort column ascending" style="width: 193px;">INSTAGRAM</th>
																								<th class="sorting" tabindex="0" aria-controls="transtable" rowspan="1" colspan="1" aria-label="Withdraws: activate to sort column ascending" style="width: 193px;">TWITTER</th>
																								<th class="sorting" tabindex="0" aria-controls="transtable" rowspan="1" colspan="1" aria-label="Withdraws: activate to sort column ascending" style="width: 193px;">TIKTOK</th>
																								<th class="sorting" tabindex="0" aria-controls="transtable" rowspan="1" colspan="1" aria-label="Withdraws: activate to sort column ascending" style="width: 193px;">SNAPCHAT</th>
																								<th class="sorting" tabindex="0" aria-controls="transtable" rowspan="1" colspan="1" aria-label="Withdraws: activate to sort column ascending" style="width: 355px;">AMOUNT SPENT</th>
																							</tr>
																						</thead>
																						<tbody>







																							<tr class="odd">
																								<td class="sorting_1"><span><img src="../images/ms1.png"><span class="tbtitle"> Greather Thsn - Fameye</span></span></td>
																								<td><span class="tbdate"><img src="../images/r.png"></span></td>
																								<td><span class="tbprice"><img src="../images/r.png"></span></td>
																								<td><span class="tbprice"><img src="../images/w.png"></span></td>
																								<td><span class="tbprice"><img src="../images/r.png"></span></td>
																								<td><span class="tbprice"><img src="../images/r.png"></span></td>
																								<td><span class="tbprice_1">$2000</span></td>
																							</tr>

																							<tr class="even">
																								<td class="sorting_1"><span><img src="../images/ms2.png"><span class="tbtitle"> Dirty Witchs - Fameye</span></span></td>
																								<td><span class="tbdate"><img src="../images/r.png"></span></td>
																								<td><span class="tbprice"><img src="../images/r.png"></span></td>
																								<td><span class="tbprice"><img src="../images/r.png"></span></td>
																								<td><span class="tbprice"><img src="../images/w.png"></span></td>
																								<td><span class="tbprice"><img src="../images/r.png"></span></td>
																								<td><span class="tbprice_1">$2000</span></td>
																							</tr>

																							<tr class="odd">
																								<td class="sorting_1"><span><img src="../images/ms3.png"><span class="tbtitle">Gallaxy - Babylon ft. Fameye</span></span></td>
																								<td><span class="tbdate"><img src="../images/r.png"></span></td>
																								<td><span class="tbprice"><img src="../images/r.png"></span></td>
																								<td><span class="tbprice"><img src="../images/w.png"></span></td>
																								<td><span class="tbprice"><img src="../images/r.png"></span></td>
																								<td><span class="tbprice"><img src="../images/r.png"></span></td>
																								<td><span class="tbprice_1">$2000</span></td>
																							</tr>

																							<tr class="even">
																								<td class="sorting_1"><span><img src="../images/ms4.png"><span class="tbtitle">Chairman - Fameye Ft Joey B</span></span></td>
																								<td><span class="tbdate"><img src="../images/w.png"></span></td>
																								<td><span class="tbprice"><img src="../images/r.png"></span></td>
																								<td><span class="tbprice"><img src="../images/r.png"></span></td>
																								<td><span class="tbprice"><img src="../images/r.png"></span></td>
																								<td><span class="tbprice"><img src="../images/r.png"></span></td>
																								<td><span class="tbprice_1">$2000</span></td>
																							</tr>
																						</tbody>
																					</table><div class="dataTables_info" id="transtable_info" role="status" aria-live="polite">Showing 1 to 5 of 5 entries</div><div class="dataTables_paginate paging_simple_numbers" id="transtable_paginate"><a class="paginate_button previous disabled" aria-controls="transtable" data-dt-idx="0" tabindex="-1" id="transtable_previous">Previous</a><span><a class="paginate_button current" aria-controls="transtable" data-dt-idx="1" tabindex="0">1</a></span><a class="paginate_button next disabled" aria-controls="transtable" data-dt-idx="2" tabindex="-1" id="transtable_next">Next</a></div></div>
																				</div>
																			</div>
																		</div>

																	</div>

																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

									</div><!--/.row-->






								</div><!--/.row-->


							</div>	<!--/.main-->

							<script src="js/jquery-1.11.1.min.js"></script>
							<script src="js/bootstrap.min.js"></script>
							<script src="js/chart.min.js"></script>
							<script src="js/chart-data.js"></script>
							<script src="js/easypiechart.js"></script>
							<script src="js/easypiechart-data.js"></script>
							<script src="js/bootstrap-datepicker.js"></script>
							<script src="js/custom.js"></script>
							<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
							<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

							<script>
								window.onload = function () {
									var chart1 = document.getElementById("line-chart").getContext("2d");
									window.myLine = new Chart(chart1).Line(lineChartData, {
										responsive: true,
										scaleLineColor: "rgba(0,0,0,.2)",
										scaleGridLineColor: "rgba(0,0,0,.05)",
										scaleFontColor: "#c5c7cc"
									});

									var chart2 = document.getElementById("line-chart_1").getContext("2d");
									window.myLine = new Chart(chart2).Line(lineChart_1Data, {
										responsive: true,
										scaleLineColor: "rgba(0,0,0,.2)",
										scaleGridLineColor: "rgba(0,0,0,.05)",
										scaleFontColor: "#c5c7cc"
									});
								};

								var dashboardgreenswiper = new Swiper('.dashboard-green-slider .swiper-container', {
									direction: 'vertical',
									pagination: {
										el: '.swiper-pagination',
										clickable: true,
									},
								});
							</script>

							<script>
								window.onload = function () {

									var chart2 = document.getElementById("bar-chart").getContext("2d");
									window.myBar = new Chart(chart2).Bar(barChartData, {
										responsive: true,
										scaleLineColor: "rgba(0,0,0,.2)",
										scaleGridLineColor: "rgba(0,0,0,.05)",
										scaleFontColor: "#c5c7cc"
									});

									var chart2_1 = document.getElementById("bar-chart_1").getContext("2d");
									window.myBar = new Chart(chart2_1).Bar(barChartData, {
										responsive: true,
										scaleLineColor: "rgba(0,0,0,.2)",
										scaleGridLineColor: "rgba(0,0,0,.05)",
										scaleFontColor: "#c5c7cc"
									});

								};
							</script>


						</body>
						</html>