<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SIGNUP</title>
</head>
<body>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">

	
	<div class="main-container p-1">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 col-lg-5">
					
					<div class="innerpage-page-form">
						<p class="innerpage-site-title">YVE</p>
						<h1 class="form-title">Get Started</h1>
						<p class="small">Already have an account? <span><a href="">Log in</a></span></p>

						<div>
							<form>
								<div class="form-group">
									<label for="name">Name</label>
									<input type="text" class="form-control" id="name" placeholder="Anthony Enninful">
								</div>
								<div class="form-group">
									<input type="email" class="form-control" id="name" placeholder="Email">
								</div>
								<div class="form-group">
									<select class="form-control" id="exampleFormControlSelect1">
										<option selected disabled="">Country</option>
										<option>India</option>
										<option>South Africa</option>
									</select>
								</div>
								<button type="submit" class="btn btn-primary btn-block mt-1 mb-2 btn-circle shadow-btn2 acctacces-btn">Sign Up</button>
							</form>
							<div class="social-logins text-center">
								<small class="orsignin">OR SIGN UP WITH</small>

								<div class="social-logins-btn d-flex justify-content-center">
									<div class="btn-toolbar mt-1" role="toolbar" aria-label="Toolbar with button groups">

										<div class="btn-group mr-2" role="group" aria-label="Second group">
											<a href="#"  class="btn btn-lg btn-circle google-btn shadow-btn1 mr-2"> <img src="images/google.png" class="img-fluid mr-2">GOOGLE</a>
										</div>
										<div class="btn-group" role="group" aria-label="Third group">
											<a href="#"  class="btn btn-lg btn-circle fb-btn shadow-btn1 ml-2"> <img src="images/Facebook.png" class="img-fluid mr-2">FACEBOOK</a>
										</div>
									</div>
								</div>
							</div>

							<div class="form-terms mt-1">
								<small>By signing up, I agree to the <a href="">Terms of Service</a>
									and <a href="#">Privacy Policy.</a></small>
								</div>
							</div>

							<div class="terms mt-1">

								<ul>
									<li><a href="#">Terms</a></li>
									<li><a href="#">Privacy</a></li>
									<li><a href="#">Help</a></li>
								</ul>



								<div class="developer-mention mt-1">
									<small>Created by Manifest Multimedia</small>
								</div>
							</div>
						</div>

					</div>
					<div class="col-md-12 col-lg-6 col-sm-12 col-xs-12 ml-auto right-area">

						<div class="side-area">

							<div class=" side-area-heading pr-5 pl-5 pb-4">
								<h2>Release
									Unlimited
									Music
								Everywhere.</h2>
							</div>

							<div class="side-area-logos pr-5 pl-5 pb-5 mb-5">
								<img src="images/wlg6.png" alt="" class="img-fluid">
								<img src="images/wlg5.png" alt="" class="img-fluid">
								<img src="images/wlg4.png" alt="" class="img-fluid">
								<img src="images/wlg3.png" alt="" class="img-fluid">
								<img src="images/wlg2.png" alt="" class="img-fluid">
								<img src="images/wlg1.png" alt="" class="img-fluid">
							</div>

						</div>

					</div>
				</div>
			</div>
		</div>




		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<!-- Popper JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="js/bootstrap.min.js"></script>


		<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
		<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

		<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
		<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
		<script src="js/site.js"></script>
	</body>
	</html>